<!-- Page Title Section -->

<div class="row page-title page-title-events">
  <div class="container">
    <h2>
    <i class="fa fa-calendar"></i>EVENTS</h2>
  </div>
</div>
<!-- Events Section -->
<div class="row section-row evets-row">
  <div class="container">
    <div class="col-md-8 left-event-items">
      <div class="event-item">
        <div class="col-sm-7">
          <div class="event-date">
            <p>
            <span>10</span>SEP</p>
          </div>
          <h3>Block Buster Ladies Night</h3>
          <h6>
          <i class="fa fa-map-marker"></i>Venue: Mumbai deccan plaza</h6>
          <p>Its going to be a fabulus night for the for beautiful girls around the globe</p>
        </div>
        <div class="col-sm-5 event-item-img">
          <div class="event-img">
            <img alt="event"
                 src="assets/img/events/event1.jpg" />
            <div class="event-detail-link">
              <a href="#">VIEW DETAILS</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="event-item">
        <div class="col-sm-7">
          <div class="event-date">
            <p>
            <span>21</span>AUG</p>
          </div>
          <h3>Modeling Event </h3>
          <h6>
          <i class="fa fa-map-marker"></i>Venue: Hyderabad mestri plaza</h6>
          <p>Model to show the quality and enthusiasm in that event and get great opportunities from the directors and producers</p>
        </div>
        <div class="col-sm-5 event-item-img">
          <div class="event-img">
            <img alt="event"
                 src="assets/img/events/event2.jpg" />
            <div class="event-detail-link">
              <a href="#">VIEW DETAILS</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="event-item">
        <div class="col-sm-7">
          <div class="event-date">
            <p>
            <span>01</span>AUG</p>
          </div>
          <h3>Rugby Match</h3>
          <h6>
          <i class="fa fa-map-marker"></i>Talkitive Hours</h6>
          <p>Here the starts get together to enjoy the meal and qualitive life</p>
        </div>
        <div class="col-sm-5 event-item-img">
          <div class="event-img">
            <img alt="event"
                 src="assets/img/events/event3.jpg" />
            <div class="event-detail-link">
              <a href="#">VIEW DETAILS</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="event-item">
        <div class="col-sm-7">
          <div class="event-date">
            <p>
            <span>20</span>JUL</p>
          </div>
          <h3>FUN DRIVE</h3>
          <h6>
          <i class="fa fa-map-marker"></i>Venue: opera resort , Hyderabad</h6>
          <p>Register and join with stars and get the feel of the quality and enjoyable life</p>
        </div>
        <div class="col-sm-5 event-item-img">
          <div class="event-img">
            <img alt="event"
                 src="assets/img/events/event4.jpg" />
            <div class="event-detail-link">
              <a href="#">VIEW DETAILS</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="event-control-box">
        <div class="pull-left">
          <a href="#">
          <i class="fa fa-arrow-left"></i>PREVIOUS</a>
        </div>
        <div class="pull-right">
          <a href="#">NEXT
          <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 right-event-items" >
      <div class="event-item" >
        <img alt="event"
             src="assets/img/news/news-lg3.jpg" />
      </div>
      <div class="featured-event" >
        <div class="event-date" style="padding-top:81px">
          <p>
          <span>10</span>SEP</p>
        </div>
        <h3></h3>
        <h6>
        <i class="fa fa-map-marker"></i>Playground</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <a href="#">
        <i class="fa fa-paper-plane"></i>KNOW MORE</a>
      </div>
      <div class="event-item categories-list">
        <div class="sidebar-box">
          <h5>
          <i class="fa fa-list"></i>EVENT CATEGORY</h5>
          <div class="inner-content-box">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#">
                <i class="fa fa-graduation-cap"></i>PREVIOUS EVENTS</a>
                <span class="badge">12</span>
              </li>
              <li class="list-group-item">
                <a href="#">
                <i class="fa fa-users"></i>REGISTERATION PER EVENT</a>
                <span class="badge">20</span>
              </li>
              <li class="list-group-item">
                <a href="#">
                <i class="fa fa-trophy"></i>EVENT PUBLISHED</a>
                <span class="badge">12</span>
              </li>
              <li class="list-group-item">
                <a href="#">
                <i class="fa fa-code"></i>FUN EVENTS</a>
                <span class="badge">12</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
